:host {
  display: block;
  width: 100%;
}

.floating-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 56px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.35);
  transition: border-color 0.3s linear, box-shadow 0.3s ease;
  cursor: text;
  overflow: hidden;
}

.floating-label:focus-within {
  border-color: var(--color-info);
  box-shadow: 0 0 0 2px var(--color-info);
}

.floating-label .field-label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12.5px;
  font-weight: 400;
  padding-left: 44px;
  pointer-events: none;
}

.floating-label input {
  width: calc(100% - 44px);
  margin-left: auto;
  display: block;
  padding: 20px 12px;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--color-text-black);
  font-size: 16px;
  font-weight: 400;
}

.floating-label .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 44px;
  display: flex;
  cursor: text;
  -webkit-user-select: none;
  user-select: none;
}

.floating-label .icon svg {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 0.25;
  transition: opacity 0.3s ease, fill 0.3s ease;
  fill: var(--color-text-black);
}

.floating-label input:not(:placeholder-shown) {
  padding: 28px 12px 12px;
}

.floating-label input:not(:placeholder-shown) + .field-label {
  transform: translateY(-10px);
  opacity: 0.7;
}

.floating-label.is-valid .icon svg {
  opacity: 1;
  fill: var(--color-info);
}
